a{color:black;outline:0;text-decoration: none;}
a:hover{text-decoration: underline;}
body{background-color:#f7f7f7f7;color:black;font-family:arial;font-size:15px;margin:0;padding:0;}
footer{color:gray;font-size:13px;margin:50px 0 50px 0;text-align:center;}
footer a{color:gray;font-size:13px;}
footer p{color:gray;font-size:13px;}
header{}
header p{color:black;font-size:20px;font-weight:bold;line-height;1.2;letter-spacing:-2px;margin:0;padding:10px 0 10px 20px;}
p{margin:5px;padding:0;}
.breadcrumbs{font-size:12px;padding:10px 0 10px 20px;}
.btn{border:3px solid black;border-radius:2px;color:black;line-height:2;margin:5px;padding:10px;}
.btn:hover{background-color:black;color:white;text-decoration: none;}
.btn span{color:gray;font-size:12px;}
.content{display:flex;flex-direction:column;justify-content:center;margin:0px;padding:0 20px;}
.feature-box{display:flex;flex-direction:column;}
.tip-box{margin:10px 0;}

@media (min-width:700px){
	header p{padding:10px 0 10px 200px;}
	.breadcrumbs{padding:11px 300px;}
	.content{margin:0px;padding:11px 300px;}
}
